*{
    padding: 0px;
    margin: 0px;
}
.headbox{
    border: solid 1px;
       height: 160px;
       display: flex;
}
#box1,#box2{
        border: solid 1px;
        height: 160px;
}
#box1{
    width: 160px;
}
#box2{
    width: 1200px;
    text-align: center;
}
#clgname{
       font-size: 40px;
       color: blue;
}
#ugc{
    font-size: 20px;
    color:red;
    font-weight: bold;
    text-align: center;
}
#jntu{
    font-size: 20px;
    color: brown;
    font-weight: bold;
    text-align: center;
}
#naac{
    font-size:20px;
    color: brown;
    font-weight: bold;
    text-align: center;
}
#hnk{
    font-size: 20px;
    color: yellowgreen;
    font-weight: bold;
    text-align: center;
}
#scrolltext{
    font-size: 30px;
    font-weight: bold;
    color: goldenrod;
}
#nav{
    border: solid 1px;
    height: 50px;
}
ul li{
    border: solid 1px;
    height: 50px;
    width: 150px;
    float: left;
    text-align: center;
    line-height: 50px;
    background-color: brown;
    margin-right: 1px;

}
ul{
    list-style: none;
} 
ul li a{
    color: gold;
    font-size: 20px;
    text-decoration: none;

}
ul li ul li{
    display: none;
}
ul li:hover ul li{
 display: block;
}
ul li:hover{
    background-color: black;
}
.obox{
    border: solid 1px;
    height: 360px;
    display: flex;
    justify-content: space-between;
}
#in1,#in2,#in3{
    border: solid 1px;
    height: 360px;
    z-index: -1;
}
#in1{
width: 600px;
background-image: url(autonomous.jpg);
background-repeat: no-repeat;
background-size: 600px 360px;
animation-name: imgchange;
animation-duration: 10s;
animation-iteration-count: infinite;
}
@keyframes imgchange {
 20%{
    background-image: url(driv.jpeg);
 }   
 40%{
    background-image: url(nccawa.jpg);
 }
 60%{
    background-image: url(tradit.jpeg);
 }
 80%{
    background-image: url(TPCELOGO.jpeg);
 }
 100%{
    background-image: url(SportsMeet24.jpg);
 }
}
#in2,#in3{
    width: 290px;
}
#name1{
    text-align: center;
    color: rgb(118, 18, 164);
}
#name2{
    text-align: center;
    color: goldenrod;
}
#name3{
    text-align: center;
    color:rgb(118, 18, 164);
}
#name4{
    text-align: center;
    color: goldenrod;
}
#pbox{
    border: solid 1px;
    height: 200px;
}
#Placement{
    height: 150px;
    width: 150px;
}

